<h1><%= heading %></h1>
<h2>Save shit. Go Green.</h2>
<center><h1>
<% if flash[:success] %>  
    <p class="success"><%= flash[:success] %>  
<% end %>
<% if flash[:welcome] %>  
    <p class="success"><%= flash[:welcome] %>  
  
<% end %></h1></center><br>
<ul>
  <form action="/home" method="post">
  <textarea name="text"></textarea>
  <br />
 
  <input type="submit" value="Post" />
</form>   
<% @posts.each do |post| %>
  <li>
    <h2>
      <%= post.text %>
    <span><%= format_time(post.created_at) %></span>
    </h2>
  </li>
<% end %>
</ul> 

