<div id="main">
<% current_member = @members.find(params[:id]) %>

<% pending_and_confirmed_friends = [] %>
<% @members.each do |member| %>
  <% if current_member.in_friendship_table?(member) && member.id != current_member.id%> 
    <% pending_and_confirmed_friends << member %>
  <% end %>
<% end %>
<br>
<% confirmed_friends = [] %>
<% pending_and_confirmed_friends.each do |member| %>
  <% if current_member.is_confirmed_friend?(member) && member.id != current_member.id%> 
    <% confirmed_friends << member %>
  <% end %>
<% end %>

<h2>Bruno men that you've befriended</h2>

<% confirmed_friends.each do |friend| %>
<a href="../<%= friend.id %>/posts"><%= friend.first_name %> <%= friend.last_name %></a><br>
<% end %>

<% pending_friends = pending_and_confirmed_friends - confirmed_friends %>

<h2>Pending Bruno Men friends</h2>

<% pending_friends.each do |friend| %>
<%= friend.first_name %> <%= friend.last_name %>
<% unless Friendship.where(:member_id => current_member.id, :friend_id => friend.id).exists? %>
<form action = "friends" method = "post">
	<input type= "hidden" value = "<%=friend.id%>" name= "friend_id">
	<input type ="submit" value= "Confirm request">
<% end %>
</form>
<br>
<% end %>
<br>
<a href="othermembers">Other Bruno Men</a><br>
<br>
<a href="/">Back to Home!!</a>
</div>
