<center><h1>Bruno's World&trade;</h1>

  <% if current_member %>
    <a href = "/logout">Log me out!</a>
  <% end %>

   <% if current_member.id != @id %>
    <a href = "/">Take me home!</a>
  <% end %>

  <a href = "/user/<%= current_member.id %>/friends">View your friends</a>
  <a href = "/user/<%= current_member.id %>/othermembers">View other members</a>
  
  <h2><%= "#{@name}'s feed"%></h2>

  <form action="/posts" method="POST">
    <input type="text" name="post[title]">
    <textarea name="post[text]" value="What are you thinking?" cols="30" rows="10"></textarea>
      <input type="hidden" name="current_wall" value="<%= @id %>">
    <input type="submit">
  </form>

  <% unless @posts.empty? %>
    <ul>
      <% @posts.each do |post| %>
        <li>
          <h3><%= post.title %></h3>
          <p><%= post.text %></p>
        </li>
      <% end %>
    </ul>
  <% end %>
  <%= "logged in as #{current_member.full_name}" %>
</center>

